@model IEnumerable<ArtSpace.Models.Orden>

@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_LayoutEnvios.cshtml";
}
<br />
<center>
    <img src="~/resources/envio.png" />
    <h2>Listado pedidos enviados sin fecha de entrega</h2>
</center>
<table class="table">
    <tr>
        <th style="text-align:center; width:230px">
            Fecha de creación
        </th>
        <th style="text-align:center; width:150px">
            Número de confirmación
        </th>
        <th style="text-align:center">
            Total
        </th>
        <th style="text-align:center">
            Cliente
        </th>
        <th style="text-align:center">
            Dirección de entrega
        </th>
        <th style="text-align:center; width:230px">
            Fecha de envío
        </th>
        <th style="text-align:center; width:250px">Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        string val;
        if (item.fecha_envio.HasValue)
        {
            val = item.fecha_envio.GetValueOrDefault().ToShortDateString();
        }
        else
        {
            val = "";
        }
        <tr>
            <td style="text-align:center">
                @Html.TextBoxFor(modelItem => item.fecha_creacion, new { @class = "form-control", @value = item.fecha_creacion.ToShortDateString(), @readonly = "readonly" })
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.num_confirmacion)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Cliente.nombre)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.dirEntrega.calle),
                @Html.DisplayFor(modelItem => item.dirEntrega.municipio),
                @Html.DisplayFor(modelItem => item.dirEntrega.estado),
                @Html.DisplayFor(modelItem => item.dirEntrega.codigo_postal)
            </td>
            <td style="text-align:center">
                @Html.TextBoxFor(modelItem => item.fecha_envio, new { @class = "form-control", @value = @val, @readonly = "readonly" })
            </td>
            <td style="text-align:center">
                @Html.ActionLink("Editar", "Enviados", new { id = item.Id }, new { @class = "btn btn-info btn-lg" })
                @Html.ActionLink("Detalles", "Details2", new { id = item.Id }, new { @class = "btn btn-info btn-lg" })
            </td>
        </tr>
    }

</table>
