@model ArtSpace.Models.empleado

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 style="font-family: 'Segoe UI' ; text-align:center">Eliminar Empleado</h1>
<br />
<h4 style="font-family: Verdana">¿Esta seguro de eliminar al empleado?</h4>
<div>
    <hr />
    <dl class="dl-horizontal" style="font-family: Verdana">
        <dt>
            Nombre Completo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Correo Electrónico:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            Rol:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rol)
        </dd>

        <dt>
            Departamento:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departamento)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div  class="form-actions no-color">
            <input type="submit" style="font-family: Verdana" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
